# --- Language Servers ---
[language-server.ltex]
command = "ltex-ls-plus"

[language-server.ltex.config.ltex.dictionary]
"en-US" = ["ewwe", "flaberrasted"]

[language-server.ltex.config.ltex.disabledRules]
"en-US" = ["WHITESPACE_RULE"]

[language-server.rust-analyzer.config]
check.command = "clippy"

[language-server.texlab]
command = "texlab"

[language-server.zk]
command = "zk"
args = ["lsp"]

[language-server.texlab.config.texlab.build]
onSave = true
forwardSearchAfter = true
executable = "latexmk"
args = ["-pdf", "-interaction=nonstopmode", "-synctex=1", "-shell-escape", "%f"]

[language-server.texlab.config.texlab.forwardSearch]
executable = "zathura"
args = ["--synctex-forward", "%l:%c:%f", "%p"]

[language-server.texlab.config.texlab.chktex]
onOpenAndSave = true
onEdit = true


[language-server.gdscript]
command = "nc"
args = ["127.0.0.1", "6005"]

[language-server.harper-ls]
command="harper-ls"
args = ["--stdio"]

[language-server.harper-ls.config.harper-ls.linters]
AvoidCurses = false
ToDoHyphen = false


[language-server.sourcekit-lsp]
command = "sourcekit-lsp"
args = ["--log-level", "info"]

# --- Languages ---

[[language]]
name = "markdown"
roots = [".zk"]
language-servers = ["zk", "harper-ls"]


[[language]]
name = "typst"
auto-format = true
language-servers = ["tinymist" ,"harper-ls"]

[language.formatter]
command = "typstyle"

[[language]]
name = "latex"
language-servers = ["texlab", "ltex-ls-plus","harper-ls"]

[[language]]
name = "nix"
auto-format = true

[language.formatter]
command = "nixfmt"

[[language]]
name = "svelte"
auto-format = true
language-servers = ["svelteserver", "tailwindcss-language-server", "harper-ls"]

[language.formatter]
command = "dprint"
args = ["fmt", "--stdin", "svelte"]

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "tailwindcss-ls","harper-ls"]

[[language]]
name = "css"
language-servers = ["vscode-css-language-server", "tailwindcss-ls"]

[[language]]
name = "gdscript"
language-id = "gdscript"
language-servers = ["gdscript"]

[[language]]
name = "rust"
language-servers = ["rust-analyzer", "harper-ls"]


[[language]]
name = "haskell"
# Optional: roots help Helix identify the project root
roots = ["Setup.hs", "stack.yaml", "*.cabal"]
formatter = { command = 'fourmolu' }
# Optional: enable auto-format on save (only enabled by default for a few languages like Rust and Go)
# auto-format = true 

[[language]]
name = "swift"
# roots = ["Package.swift", "Package.resolved", "*.xcodeproj", "*.xcworkspace", "project.yml"]
language-servers = ["sourcekit-lsp"]

[[language]]
name = "jjdescription"
file-types = [{ glob = "*.jjdescription" }]
language-servers = ["harper-ls"]


